@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
  box-sizing:border-box;
}
nav{
  padding:15px;
  background-color:#F9ED69;
  display:flex;
  justify-content:flex-end;
  color:#fff;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:100;
}
nav a{
  position:relative;
  color:black;
  margin-left:30px;
  text-decoration:none;
}
nav a::after{
  content:'';
  border-bottom:3px solid#fff;
  width:100%;
  height:100%;
  position:absolute;
  transform:translateY(10px);
  transition:transform 0.3s ease;
  top:0;
  left:0;
  opacity:0;
}
nav a:hover::after{
  transform:translateY(0);
}
header{
  background-image:url('https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80');
  background-size:cover;
  background-position:center center;
  color:#fff;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  position:relative;
}
header::after{
  content:'';
  background-color:#000;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:0.8;
}
header *{
  position:relative;
  z-index:1;
}
header h1{
  font-size:60px;
  margin-bottom:5px;
  margin-top:0;
}
header p{
  font-size:30px;
  margin:0;
}
body{
  background-color:#F08A5D;
  font-family: 'Open Sans', sans-serif;
  margin:0;
}
section{
  text-align:center;
  padding:40px;
}
section h2{
  margin:0;
}
section p{
  margin-top:0;
}
.project-container{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content: center;
  max-width:810px;
  margin:20px auto 0;
}
.project-tile{
  margin:10px;
  max-width:250px;
  text-decoration: none;
  transition:transform 0.3s ease;
}
.project-tile:hover{
  transform:scale(1.05);
}
.project-tile img{
  max-width:100%;
}
.project-tile p{
  color:#000;
  font-size:20px;
  margin-top:10px;
}
.bg-pinkish{
  background-color:#B83B5E;
  color:#fff;
}
.social-ul{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  list-style-type:none;
  padding:0;
  marfin:0;
}
.social-ul a{
  border-radius:50%;
  border:1px solid #fff;
  color:#fff;
  font-size:25px;
  margin:5px 10px;
  width:50px;
  height:50px;
  display:inline-flex;
  align-items:center;
  justify-content: center;
  text-decoration: none;
}
footer{
  background-color:#6A2C70;
  color:#fff;
  text-align:center;
  padding:10px;
}
footer .fa-heart{
  color:#fff;
}
@media(max-width:440px){
  section{
    padding:20px;
  }
}